body{
  background-color:#FFE2B7;
  text-align:justify;
}
h1{
  font-size:50px;
  text-align:center;
}
h2{
  font-size:25px;  
  text-align:center;
}
img{
height:200px;
weidth:100px;
margin:left;
display:block;
}

